@charset "UTF-8";

* {
    font-family: 'Lato',sans-serif;
}

body{
    background-color: #444444;
}

.bg-primary-color{
    background-color: rgb(255, 255, 255);
}

.bg-secondary-color{
    background-color: #00000056;
    color: white;
}

.bg-dark-color{
    background-color: #1f1f1f;
    color: rgb(255, 101, 101);
}

.primary-color {
    color: #050505;
}

.secondary-color{
    color: #444444;
}




.navbar .bi{
    font-size: 5em;
    padding-right: 0.3em;
    margin-bottom: 13px;
}
.navbar .title{
    border-bottom: 2px solid rgb(255, 72, 72);
}

#container-marca{
    padding-left: 1.3em;
}
.navbar{
    padding: 0;
    border-bottom: 1px solid rgb(255, 72, 72);
    background-color: #444444;
    color: #ff4545;
}
#navbar a.active{
    color: white;
    border-bottom: 1px rgb(255, 72, 72) solid;
}
#navbar a:hover{
    color: #ff5353;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-item:hover{
    background-color: rgb(255, 91, 91);
    transition: 0.3s;
}
.nav-link {
    color: white;
}
/*table*/ 

section{
    margin-top: 13.8em;
}

#tabela-produtos {
    position: relative;
    border-collapse: collapse;
    border: 1px rgb(255, 95, 95) solid;
    width: 80%;
    margin: 15px auto;
}

#header-fixed{
    position: sticky;
    top: 190px;

}

/*Informações*/
.products, .informations{
    width: 80%;
    margin: auto;
    border-bottom: 1px rgb(255, 94, 94) solid;
}

#titulo-quantidade, #titulo-codigo{
    margin-top: 21.7px;
}

.subtitle{
    border: 1px black solid;
}
/*config inputs*/
#cadastro-de-produtos{
    border-bottom: 1px rgb(250, 105, 105) #7a7a7a;
}
.caixa {
    display: block;
    margin: auto;
    width: 16em;
}
.botao {
    display: block;
    margin: auto;
}
/*formulario*/


.form-control{
    width: 250px;
    margin: auto;
}
#quantity{
    margin-left: 92px;
}
@media(min-width:768px){
    #quantity{
        margin:auto;
    }
}
.titulo-fornecedor{
border-bottom: 1px rgb(253, 92, 92) solid;
}


#fornecedor, #contact-number{
    margin-left: 0px;
}
.btn{
    margin: auto;
    width: 20%;
}
.first-column{
    border-right: 1px rgb(253, 65, 65) solid;
    margin-top: 10px;
}

.distributor{
    margin-top: 10px;
}

/**/

#titulo-total,#total{
    margin-top: 0.5em;
    font-size: 3em;
}
#total{
    margin-left: 2em;
    width: 7.7em;
    color: rgb(0, 0, 0);
}
.separator{
    border-bottom: 1px black solid;
}
