@charset "UTF-8";

* {
    font-family: 'Lato',sans-serif;
}

body{
    background-color: #444444;
}

.bg-primary-color{
    background-color: rgb(255, 255, 255);
}

.bg-secondary-color{
    background-color: #00000056;
    color: white;
}

.bg-dark-color{
    background-color: #313131;
    color: rgb(255, 101, 101);
}

.primary-color {
    color: #050505;
}

.secondary-color{
    color: #444444;
}




.navbar .bi{
    font-size: 5em;
    padding-right: 0.3em;
    margin-bottom: 13px;
}
.navbar .title{
    border-bottom: 2px solid rgb(255, 72, 72);
}

#container-marca{
    padding-left: 1.3em;
}
.navbar{
    padding: 0;
    border-bottom: 1px solid rgb(255, 72, 72);
    background-color: #444444;
    color: rgb(255, 72, 72);
}
#navbar a.active{
    color: white;
    border-bottom: 1px rgb(255, 72, 72) solid;
}
#navbar a:hover{
    color: #ff5353;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-item:hover{
    background-color: rgb(255, 91, 91);
    transition: 0.3s;
}
.nav-link {
    color: white;
}
/*interface do user */
.wrapper{
    margin-top: 13.8em;
}

.title-user{
    font-weight: bolder;
    border-bottom: 1px #7a7a7a solid;
    color: #ff5353;
}

.title{
    font-weight: bolder;
    color: rgb(255, 78, 78);
}

#usuario{
    width: 400px;
    padding: 30px;
    border: 1px #7a7a7a solid;
    border-radius: 35px;
    font-size: 2em;
}
#usuario:hover{
    border-color: #00d9ff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 195, 255, 0.6);
}

/*infos gerais vendas*/

.sellings{
    font-size: 2.5em;
    color: #ff7979;
}

.infos{
    background-color: #444444;
}
/*infos gerais segunda linha*/

.billing-title{
    margin-top: 13px;
    padding-left: 12px;
    padding: 6px;
}
.billings{
    padding-left: 10px;
    color: #ff7979;
}
.time{
    color: white;
}