@charset "UTF-8";

* {
    font-family: 'Lato',sans-serif;
}

body{
    background-color: #444444;
}

.bg-primary-color{
    background-color: rgb(255, 255, 255);
}

.bg-secondary-color{
    background-color: #00000056;
    color: white;
}

.bg-dark-color{
    background-color: #1f1f1f;
    color: rgb(255, 101, 101);
}

.primary-color {
    color: #050505;
}

.secondary-color{
    color: #444444;
}

/*navbar*/


.navbar .bi{
    font-size: 5em;
    padding-right: 0.3em;
    margin-bottom: 13px;
}
.navbar .title{
    border-bottom: 2px solid rgb(255, 72, 72);
}

#container-marca{
    padding-left: 1.3em;
}
.navbar{
    padding: 0;
    border-bottom: 1px solid rgb(255, 72, 72);
    background-color: #444444;
    color: rgb(255, 72, 72);
}
#navbar a.active{
    color: white;
    border-bottom: 1px rgb(255, 72, 72) solid;
}
#navbar a:hover{
    color: #ff5353;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-item:hover{
    background-color: rgb(255, 91, 91);
    transition: 0.3s;
}
.nav-link {
    color: white;
}
/*table*/ 

section{
    margin-top: 13.8em;
}

.containermain{
    border: 1px red solid;
}

#tabela-produtos {
    position: relative;
    border-collapse: collapse;
    border: 1px rgb(0, 0, 0) solid;
    margin-top: 1.875em;
}

#header-fixed{
    position: sticky;
    top: 190px;
}

/*Informações*/
.products{
    width: 80%;
    margin: auto;
    border-bottom: 1px rgb(255, 0, 0) solid;
}

.btn{
width: 500px;
}

table tbody tr:hover {
    --bs-table-hover-bg: #b18585;
    cursor: pointer;
}
